.ticker-wrapper {
    width: 86.1%;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    color: #333;
    padding: 1.5% 0;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.ticker-content {
    display: flex;
    white-space: nowrap;
    animation: ticker-scroll 60s linear infinite;
}

.ticker-item {
    display: inline-block;
    text-align: left;
    margin-right: 80px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
    position: relative;
    padding-right: 20px;
}

.ticker-item::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 50%;
    background-color: #ddd;
}

.company-code {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3px;
}

.transaction-details {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.transaction-price {
    font-size: 1.2rem;
}

.percentage.up {
    color: green;
}

.percentage.neutral {
    color: blue;
}

.percentage.down {
    color: red;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
