.hero {
    margin: 16% 120px 0;
}

.hero-text {
    color: white;
    font-size: 100px;
    font-weight: 500;
    line-height: 80px;
}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin-top: 40px;
    padding: 4px 5px 1px 16px;
    border-radius: 60px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.hero-explore p {
    color: black;
    font-size: 14px;
}

.hero-explore img {
    width: 38px;
    height: 40px;
}

.hero-dot-play {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 18px;
    list-style: none;
}

.hero-dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 75px;
    cursor: pointer;
}

.hero-dot.orange {
    background-color: #FCCE00;
}
.hero-play {
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}
.hero-play img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}


