* {
    font-family: 'Jost', sans-serif;
    background-color: #FFFBF4;
}

#title {
    font-size: 2.5vh;
    padding-left: 10%;
    font-weight: bold;
}

.nav {
    width: 80%;
    margin: 1vh auto 0 auto; /* Center the navbar and move it down using viewport height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #388087; /* Долен бордер */
}

#logo {
    list-style: none;
    margin: 0 0 0 5%;
    padding: 0;
}

#pages {
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0 3%;
}

#pages li {
    margin: 0 10px; /* Додава простор од 10px лево и десно */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Required for the pseudo-element positioning */
    transition: color 0.3s ease; /* Smooth text color transition */
}

#pages a::after {
    content: ""; /* No text, just the line */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Full width of the button */
    height: 3px; /* Thickness of the underline */
    background-color: #33486a; /* Color of the underline */
    transform: scaleX(0); /* Start with no underline */
    transition: transform 0.3s ease; /* Smooth transition for the underline */
    transform-origin: left; /* Animate from left to right */
}


/* Show underline when hovering or when the link is active */
#pages a:hover::after,
#pages a.active::after {
    transform: scaleX(1); /* Show the underline on hover or when active */
}

#pages a.active::after {
    background-color: #6FB3B8; /* Color of the underline */
}

#pages a:hover {
    color: #669BBC; /* Hover link color */
}

#pages a.active {
    color: #388087; /* Active link color */
    background-color: #C2EDCE; /* Боја на позадина за активниот линк */
    transition: background-color 0.3s ease; /* Лесно преминување за позадинската боја */
}

#pages a {
    color: #33486a;
    text-decoration: none; /* Remove underline */
    font-size: 2.1vh;
    transition: background-color 0.1s ease; /* Додај transition за позадинската боја */
    padding: 0.8em 1em; /* Adjust for rectangle size */
    display: inline-block; /* Обезбедува дека елементот не е блок и не ја зголемува големината */
}
