.ticker-wrapper {
    width: 86.1%; /* 86% width */
    margin: 0 auto; /* Center the ticker within the page */
    overflow: hidden;
    background-color: transparent; /* Make background transparent */
    color: #333; /* Darker text color */
    padding: 1.5% 0;
    border-left: 2px solid #ddd; /* Add left border to the ticker */
    border-right: 2px solid #ddd; /* Add right border to the ticker */
}

.ticker-content {
    display: flex;
    white-space: nowrap;
    animation: ticker-scroll 60s linear infinite; /* Slower speed */
}

.ticker-item {
    display: inline-block;
    text-align: left; /* Align text to the left */
    margin-right: 80px; /* Increase spacing between items */
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5; /* Adjust line-height for better spacing */
    position: relative;
    padding-right: 20px; /* Add some padding to the right for line spacing */
}

.ticker-item::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 50%; /* Line height */
    background-color: #ddd; /* Line color */
}

.company-code {
    font-size: 1.5rem; /* Make company code smaller */
    font-weight: 600;
    margin-bottom: 3px;
}

.transaction-details {
    display: flex;
    justify-content: left; /* Align content to the left */
    gap: 10px; /* Add gap between price and percentage */
}

.transaction-price {
    font-size: 1.2rem;
}

.percentage.up {
    color: green;
}

.percentage.neutral {
    color: blue; /* Blue color for 0% change */
}

.percentage.down {
    color: red;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
