* {
    font-family: 'Jost', sans-serif
}

#title {
    font-size: 2.5vh;
    padding-left: 10%;
    font-weight: bold;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
}

.nav img {
    margin-right: 10px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0 5%;
}

.nav li {
    margin: 0 5px; /* Space between rectangles */
    padding: 0px 20px; /* Adjust for rectangle size */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Required for the pseudo-element positioning */
    transition: color 0.3s ease; /* Smooth text color transition */
}

.nav li .active {
    padding: 15px 20px;
    background-color: #33486a;
    color: white;
}

.nav li:hover::after {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Positioned relative to the li */
    bottom: 0; /* Align at the bottom of li */
    left: 15%; /* Center the underline */
    width: 70%; /* Adjust width of the underline */
    height: 2px; /* Height of the underline */
    background-color: #33486a; /* Color of the underline */
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

.nav li::after {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Positioned relative to the li */
    bottom: 0; /* Align at the bottom of li */
    left: 10%; /* Center the underline */
    width: 80%; /* Adjust width of the underline */
    height: 2px; /* Height of the underline */
    background-color: #33486a; /* Color of the underline */
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.nav li:hover {
    color: #33486a; /* Change text color on hover */
}

.nav a {
    color: inherit; /* Inherit text color from li */
    text-decoration: none; /* Remove underline */
    font-size: 1.5vh;
}
