.about-background {
    width: 100%; /* Покриј ја целата ширина на екранот */
    height: 40vh; /* Ограничува сликата на 40% од висината на прозорецот */
    position: absolute; /* За да се прикаже во горниот дел на страницата */
    top: 0;
    left: 0;
    object-fit: cover; /* Го одржува односот на сликата */
    z-index: -1; /* За позадинска поставеност */
}
