.time-series-container {
    margin: 20px auto;
    padding: 20px;
    width: 86%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Jost, sans-serif;
}

.time-series-container h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1c2d70;
    font-weight: bold;
}

.time-series-container p {
    margin: 10px 0;
    font-size: 16px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.time-series-container .data-selection {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.time-series-container .data-selection span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.time-series-container .data-selection label {
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.time-series-container .data-selection input[type="date"],
.time-series-container .data-selection select {
    padding: 8px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

.time-series-container .data-selection input[type="date"]:focus,
.time-series-container .data-selection select:focus {
    outline: none;
    border-color: #1c2d70;
    box-shadow: 0 0 4px rgba(28, 45, 112, 0.5);
}

.time-series-container .time-series-chart {
    margin-top: 20px;
}

.time-series-container .time-series-chart canvas {
    width: 100%;
    height: auto;
}

.time-series-container .data-selection select:hover {
    transition: background-color 0.3s ease-in-out;
}

.time-series-container .data-selection select {
    background-color: #fff;
    color: #333;
}

.time-series-container .data-selection select option {
    font-size: 14px;
    padding: 8px;
}

.time-series-container .data-selection select:focus {
    border-color: #1c2d70;
    box-shadow: 0 0 4px rgba(28, 45, 112, 0.5);
}
