.ticker-wrapper {
    width: 86.1%;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    color: #333;
    padding: 1.5vh 0; /* Changed to vh */
    border-left: 0.2vh solid #ddd; /* Changed to vh */
    border-right: 0.2vh solid #ddd; /* Changed to vh */
}

.ticker-content {
    display: flex;
    white-space: nowrap;
    animation: ticker-scroll 60s linear infinite;
}

.ticker-item {
    display: inline-block;
    text-align: left;
    margin-right: 8vh; /* Changed to vh */
    font-weight: bold;
    font-size: 1.5vh; /* Changed to vh */
    line-height: 1.5;
    position: relative;
    padding-right: 2vh; /* Changed to vh */
}

.ticker-item::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 0.2vh; /* Changed to vh */
    height: 5vh; /* Changed to vh */
    background-color: #ddd;
}

.company-code {
    font-size: 2.5vh; /* Changed to vh */
    font-weight: 600;
    margin-bottom: 0.5vh; /* Changed to vh */
}

.transaction-details {
    display: flex;
    justify-content: left;
    gap: 1vh; /* Changed to vh */
}

.transaction-price {
    font-size: 1.8vh;
}

.percentage.up {
    color: green;
}

.percentage.neutral {
    color: blue;
}

.percentage.down {
    color: red;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
